* {
	box-sizing: border-box;
}

:root {
	--fun-font: 'Ovo', serif;
	--wedding-font: 'Tangerine', cursive;
}

body {
	font-size: calc(1em + 1vw);
	line-height: 1.5;
	background-color: #dbb0ff;
	margin: 0;
}

header {
	height: 50vh;
	background-image: url("img/wedding_header.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: var(--wedding-font);
	color: white;
	text-shadow: 0 0 5px black;
}

h1 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 3em;
}

main {
	margin: 0 20px;
	height: 30%;
}

.mentor {
	float: right;
	width: 30%;
	margin-top: 80px;
	margin-right: 5px;
}

.sprechblase {
	font-family: var(--fun-font);
	overflow: hidden;
	display: inline-block;
	width: 68%;
	border: 2px solid black;
	padding: 10px;
	font-size: 0.9em;
}

.clearfix::after {
	display: block;
	content: " ";
	clear: both;
}

button {
	margin: 0 auto;
	display: block;
	
}

.Fragetext {
	font-family: var(--fun-font);
}

.frageForm {
	font-size: 50px;
}